html{
    overflow: auto;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    position: relative;
}
body{
    /* background-color: rgb(218, 67, 205); */  
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #b246e0 74%);
    margin: none;
    height: fit-content;
}
.top{
    text-align: center;
    width: 50% 20%;
    margin-left: 500px;
    margin-right: 500px;
    color: black;
}
.top h1{
    border: lightslategray;
    background-color: rgb(218, 93, 235);
    box-shadow: 5px 5px 2px black;
    margin-top: 10%;
    color: rgb(32, 29, 233);
    margin-bottom: 10%;
    padding: 9px 10px;
    border-radius: 10px;
}
.top h2{
    margin-top: 2%;
    border:rgb(169, 11, 218);
    background-color:lightgrey;
    color: blue;
    box-shadow: 5px 5px 2px black;

}
.top img{
    margin-top: 10px;
    width: 230px;
    height: 180px;
}
.container button{
    text-align: center;
    height:20%;
}
.container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 15px 15px 20px black;
    opacity: 0.9;
}
.form
{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;

}
.form h3{
    margin-top: 20px;
    font-style: normal;
    color: black;
    font-weight: 100px;
    font-size: 2rem;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
.form button{
    margin-top: 30px;
    background-color: rgb(187, 15, 230);
    color:white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 50px;

}
.form button:hover{
    cursor: pointer;
    background-color: rgb(51, 90, 218);
}
.form a{
    margin-top: 10px;
    margin-bottom: 10px;
}
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.side img{
    width: 400px;
    height: 497px;
}
@media screen and (max-width:1200px)  {
    body{
        width: auto;
        height: auto;
        position: relative;
        background-size: 100% auto;
        background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    background-repeat: no-repeat;
    margin: 0;
    }
    .container{
        display: flex;
        height: 500px;
        width: 600px;
        border: 1px solid black;
        margin: auto;
        margin-top: 30%;
        margin-bottom: 50%;
        box-shadow: 15px 15px 20px black;
        opacity: 0.9;
        position: relative;
    }
    .form
{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    background-color: whitesmoke;
    padding: 50px 50px;

}
.form p{
    margin-top: 10px;
    margin-bottom: 5%;
}
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.side img{
    width: 300px;
    height: 497px;
    padding: 50px 50px;
}
.top h1{
    margin-top:25% ;
    width: 400px;
    text-align: center;
    padding: 20px;
}
.top{
    text-align: center;
    width: 60% 20%;
    margin-left: 30%;
    margin-right:20%;
    color: black;
}
}
@media screen and (min-width:1600px) {
    .container{
        display: flex;
        height: 500px;
        width: 600px;
        border: 1px solid black;
        margin: auto;
        margin-top: 50%;
        margin-bottom: 50%;
        box-shadow: 15px 15px 20px black;
        opacity: 0.9;
        position: relative;
    }
    .top h1{
        margin-top:25% ;
        width: 400px;
        text-align: center;
        padding: 20px;
    }
}
